{% extends "base.html" %}
{% block title %} Effacer un Jeu (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer un Jeu
			</p>
			<table class="table table-responsive-sm">
				{% if data_film_del %}
				<thead>
				<tr>
					<th>
                        Id
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        Durée Moyenne
                    </th>
                    <th>
                        Date de sortie
                    </th>
                    <th>
                        Joueurs min
                    </th>
                    <th>
                        Joueurs max
                    </th>
                    <th>
                        Age min
                    </th>
                    <th>
                        Age max
                    </th>
                    <th>
                        Image du jeu
                    </th>
				</tr>
				</thead>
				{% endif %}
				{% for row in data_film_del %}
				<tbody>
				<tr>
					<td class="align-middle">
                        {{ row.id_jeux }}
                    </td>
                    <td class="align-middle">
                        {{ row.nom_jeu }}
                    </td>
                    <td class="align-middle">
						{{ row.durée_moyenne|default("", True)|string }}
                    </td>
                    <td class="align-middle">
                        {{ row.date_sortie_jeux|default("", True) }}
                    </td>
                    <td class="align-middle">
                        {{ row.joueurs_min|default("", True) }}
                    </td>
                    <td class="align-middle">
                        {{ row.joueurs_max|default("", True) }}
                    </td>
                    <td class="align-middle">
                        {{ row.age_min|default("", True) }}
                    </td>
                    <td class="align-middle">
						{{ row.age_max|default("", True) }}
                    </td>
					<td class="align-middle">
						<img class="img" src="{{ row.image_jeux|default(None, True) }}" style="border: 0;display:block; width:200px; height:auto;" alt="Aucune image trouvée">
                    </td>
				</tr>
				</tbody>
				{% else %}
				<tbody>
				<tr>

				</tr>
				</tbody>
				{% endfor %}

			</table>

			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete_film.hidden_tag() }}
				{{ form_delete_film.submit_btn_conf_del_jeu(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete_film.submit_btn_del_film(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete_film.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

