{% extends "base.html" %}
{% block title %} Page route essai {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls autoplay class="embed-responsive-item" id="myVideo">
                    <source src="https://cdn.mtdv.me/video/rick.mp4" type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var video = document.getElementById('myVideo');
        video.requestFullscreen();
        video.volume = 0.05; // Réglez le volume à 20% de sa valeur maximale
        video.requestFullscreen();
    });
</script>
{% endblock %}
